octave-workspace

*.pdf

lib

ex*.m
ex*.txt
ex*.mat

submit.m
token.mat

# ex1

# ex2
ex2/mapFeature.m
ex2/plotDecisionBoundary.m

# ex3
ex3/displayData.m
ex3/fmincg.m
ex3/sigmoid.m

# ex4
ex4/displayData.m
ex4/fmincg.m
ex4/checkNNGradients.m
ex4/computeNumericalGradient.m
ex4/debugInitializeWeights.m
ex4/predict.m
ex4/sigmoid.m

# ex5
ex5/fmincg.m
ex5/featureNormalize.m
ex5/plotFit.m
ex5/trainLinearReg.m
